In [48]:
import pandas as pd
import requests
from datetime import datetime, timedelta

In [2]:
pd.set_option('display.float_format', '{:.1f}'.format)

In [3]:
#url to retrive data from open-meteo
url='https://ensemble-api.open-meteo.com/v1/ensemble?latitude=46.2022&longitude=6.1457&hourly=temperature_2m&timezone=Europe%2FBerlin&models=icon_seamless'

In [4]:
#retrive data
r = requests.get(url)

In [5]:
t2m = r.json()
#t2m

In [6]:
t2m_hourly_as_list = pd.json_normalize(t2m['hourly'])
#rename temperature_2m as temperature_2m_member00
t2m_hourly_as_list.rename(columns={"temperature_2m": "temperature_2m_member00"}, inplace=True)
#t2m_hourly_as_list

In [7]:
t2m_headers = []
for item in t2m_hourly_as_list.items():
    #print(item[0])
    t2m_headers.append(item[0])
#t2m_headers

In [8]:
t2m_hourly = t2m_hourly_as_list.explode(t2m_headers)
#t2m_hourly

In [39]:
t2m_hourly['time'] = pd.to_datetime(t2m_hourly['time'], format='%Y-%m-%dT%H:%M')

In [41]:
begin_time = t2m_hourly['time'].min()
begin_time

Timestamp('2024-02-04 00:00:00')

In [43]:
end_time = t2m_hourly['time'].max()
end_time

Timestamp('2024-02-10 23:00:00')

In [49]:
time = begin_time
print(time)
while time < end_time:
    time = time + timedelta(days=1)
    print(time)

2024-02-04 00:00:00
2024-02-05 00:00:00
2024-02-06 00:00:00
2024-02-07 00:00:00
2024-02-08 00:00:00
2024-02-09 00:00:00
2024-02-10 00:00:00
2024-02-11 00:00:00

In [10]:
 #t2m_hourly.dtypes

In [11]:
# extract values for today
today = t2m_hourly.loc[(t2m_hourly['time'] >= '2024-02-04') & (t2m_hourly['time'] < '2024-02-05')]
#today

In [12]:
#Transpose data in order to have each member as rows and hours in columns
today_tr = today.transpose()
#today_tr

In [13]:
#find minimum values
tn = today.min()
#tn

In [14]:
tx = today.max()

In [15]:
tmean = today.mean()

In [16]:
tmedian = today.median()

In [17]:
# generate a dataframe containing min, max, mean and median
# drop first row with iloc
result = pd.concat([tn,tx,tmean,tmedian], axis=1).iloc[1:, :]
result = result.rename(columns={0:'min', 1:'max', 2:'mean', 3:'median'})
#result

In [18]:
threshold = -2

In [38]:
# Accessing all the values less than threshold 
# counting them and return % value
# count number of values and divide by the number of rows
no_under_threshold = result.loc[result['min'] <= threshold, 'min'].count()
no_total = result['min'].count()
pc_tn = no_under_threshold / no_total *100
print(f"{no_under_threshold}, {no_total} {pc_tn:.0f} %")

2, 40 5 %